<body> 
        <!-- NAVBAR START -->
        <nav class="navbar navbar-expand-lg py-lg-3 navbar-dark">
            <div class="container">

                <!-- logo -->
                <a href="" class="navbar-brand me-lg-5">
                     <span><img src=" /images/AHMT.png" alt="logo" height="100"></span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>

                <!-- menus -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <!-- 
                    <ul class="navbar-nav me-auto align-items-center">
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link active" href="">Inicio</a>
                        </li>
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="">Features</a>
                        </li>
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="">Precio</a>
                        </li>
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="">FAQs</a>
                        </li>
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="">Clients</a>
                        </li>
                        <li class="nav-item mx-lg-1">
                            <a class="nav-link" href="">Contacto</a>
                        </li>
                    </ul>
                    left menu -->
                    <!-- right menu -->
                    <ul class="navbar-nav ms-auto align-items-center">
                        <li class="nav-item me-0">
                            <a href="https://themes.getbootstrap.com/product/hyper-responsive-admin-dashboard-template/" target="_blank" class="nav-link d-lg-none">Purchase now</a>
                            <a href="signin" target="_blank" class="btn btn-sm btn-light rounded-pill d-none d-lg-inline-flex">
                            <i class="mdi mdi-login me-2"></i> Ingresar</a>

                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!-- NAVBAR END -->

        <!-- START HERO -->
        <section class="hero-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5">
                        <div class="mt-md-4">
                            <div>
                               <!-- <span class="badge bg-danger rounded-pill">New</span> -->
                                <span class="text-white-50 ms-1">Bienvenido a PAT-035</span>
                            </div>
                            <h2 class="text-white fw-normal mb-4 mt-3 hero-title" style="text-align: justify;">
                                PAT-035 es una plataforma que te permite evaluar la norma-035 en tu empresa.
                            </h2>

                            <p class="mb-4 font-16 text-white-50" style="text-align: justify;">PAT-035 proporciona las encuestas a cada uno de tus empleados, las guarda para que no tengas que
                                hacer a mano cada una de ellas, te permite hacer un seguimiento de quien no la ha realizado y te brinda resultados por medio de gráficas
                                para que conozcas la calificación de cada categoría.
                            </p>

                        </div>
                    </div>
                    <div class="col-md-5 offset-md-2">
                        <div class="text-md-end mt-3 mt-md-0">
                            <img src="images/svg/startup.svg" alt="" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END HERO -->

        <!-- START FEATURES 1 -->
        <section class="py-5 bg-light-lighten border-top border-bottom border-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h3>Páginas <span class="text-primary">Descriptivas</span></h3>
                            <p class="text-muted mt-2">Contamos con diferentes páginas que lo ayudarán a llevar una correcta administración de sus encuestas
                                 <br /> Somos una moderna aplicación web que busca el cumplimiento de la NOM-035.</p>
                        </div>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-lg-4 col-md-6">
                        <div class="demo-box text-center mt-3">
                            <img src="images/layouts/layout-7.jpg" alt="demo-img"
                                class="img-fluid shadow-sm rounded">
                            <h5 class="mt-3 f-17">Página de Inicio</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="demo-box text-center mt-3">
                            <img src="images/layouts/img8.jpg" alt="demo-img"
                                class="img-fluid shadow-sm rounded">
                            <h5 class="mt-3 f-17">Sección de empleados</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="demo-box text-center mt-3">
                            <img src="images/layouts/img10.png" alt="demo-img"
                                class="img-fluid shadow-sm rounded">
                            <h5 class="mt-3 f-17">Sección para Generar reportes</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="demo-box text-center mt-3">
                            <img src="images/layouts/img9.png" alt="demo-img"
                                class="img-fluid shadow-sm rounded">
                            <h5 class="mt-3 f-17">Sección de resultados generales</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="demo-box text-center mt-3">
                            <img src="images/layouts/img11.png" alt="demo-img"
                                class="img-fluid shadow-sm rounded">
                            <h5 class="mt-3 f-17">Personaliza tus datos</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="demo-box text-center mt-3">
                            <img src="images/layouts/img12.png" alt="demo-img"
                                class="img-fluid shadow-sm rounded">
                            <h5 class="mt-3 f-17">Ve en tiempo real cuantas encuestas <br> han sido realizadas</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END FEATURES 1 -->

        <!-- START FOOTER -->
        <footer class="bg-dark py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mt-5">
                            <p class="text-muted mt-4 text-center mb-0"><script>document.write(new Date().getFullYear())</script>© PAT035 - 35Coderthemes.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END FOOTER -->
        <!-- Vendor js -->
        <script src="assets/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="assets/js/app.min.js"></script>

    </body>
