<html>  
    <head>  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
    <head>  
<body>
<div class="container-sm">
<form class="row g-3 needs-validation">

<div class="mb-3">
 <input type="button" class="btn btn-primary"  id="btn_notificar" value="Enviar"/>
</div>

    </form>
</div>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"></script>
	<script type='text/javascript'>
    	
		$(document).ready(function() {
			var token="GA230504021728";
			var api ="https://script.google.com/macros/s/AKfycbyoBhxuklU5D3LTguTcYAS85klwFINHxxd-FroauC4CmFVvS0ua/exec";
				
			$("#btn_notificar").click(function() {
				var  payload = {"op": "registermessage","token_qr": token, "mensajes": [
								{"numero": "5213221712894","mensaje": "pruebas desde javascript Documento es *Todo jala bien*"}]};
				$.ajax({
					url: api,
					jsonp: "callback",
					method: 'POST',
					data : JSON.stringify(payload),
					async: false,
					success: function(respuestaSolicitud) {
							alert(respuestaSolicitud.message);
					}
				});
			});
		});	

	</script>   

  </body>
  </html>

