    <body class="authentication-bg">
        <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-4 col-lg-5">
                        <div class="card">

                            <!-- Logo -->
                            <div class="card-header py-4 text-center bg-primary">
                                <a href="index.html">
                                    <span><img src="/images/logo.png" alt="logo" height="22"></span>
                                </a>
                            </div>

                            <div class="card-body p-4">
                                
                                <div class="text-center w-75 m-auto">
                                    <h4 class="text-dark-50 text-center pb-0 fw-bold">Iniciar Sesion</h4>
                                    <p class="text-muted mb-4">ingrese su correo y contraseña</p>
                                </div>

                                <form action="/signin" method="POST">

                                    <div class="mb-3">
                                        <label for="emailaddress" class="form-label">correo</label>
                                        <input class="form-control" name="correo"  type="email" id="emailaddress" required="" placeholder="ingrese su correo">
                                    </div>

                                    <div class="mb-3">
                                      
                                        <label for="password" class="form-label">contraseña</label>
                                        <div class="input-group input-group-merge">
                                            <input type="password" name="password" id="password" class="form-control" placeholder="ingrese su contraseña">
                                            <div class="input-group-text" data-password="false">
                                                <span class="password-eye"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3 mb-0 text-center">
                                        <button class="btn btn-primary" type="submit">Iniciar Sesion </button>
                                    </div>

                                </form>
                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p class="text-muted">Aun no ah activado su Cuenta? <a href="/signup" class="text-muted ms-1"><b>Active su cuenta</b></a></p>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

        <footer class="footer footer-alt">
            2018 - <script>document.write(new Date().getFullYear())</script> © Hyper - Coderthemes.com
        </footer>
        <!-- Vendor js -->
        <script src="/js/vendor.min.js"></script>
        
        <!-- App js -->
        <script src="/js/app.min.js"></script>

    </body>